# Python
__pycache__/
*.py[cod]
.venv/
asl-monitoring-env/
.pytest_cache/

# IDE
.vscode/settings.json

# SECRETS - JAMAIS COMMITTER
.env
*secret*
*token*
*credential*

# Gros fichiers
*.msi
*.exe

# Logs
*.log
